@import "./theme.scss";


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $color-text;

    background-color: $color-background;
    &.transparent { background-color: transparent; }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.mylo {
    * {
        color: white;
    }
    .row.content {
        margin-bottom: 2em;
    }
    .row em strong {
        font-size: large;
        font-style: normal;
    }
}

.tab {
    display: inline-block;
    width: 4ex;
}